ADMIN_PASS="a-password-here"
ADMIN_USER="a-username-here"
SESSION_SECRET="ur-secret-key-here"
PORT=3000

EMAIL_USER="user@domain.com"
EMAIL_APP_PASSWORD="app key here"
RECEIVER_ADMIN_EMAIL="receiver@domain.com"